body{
    background-color: aquamarine;

}

.container{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding: .8em;
    align-items: center;
    border-radius: 4.5em;
    height: 3em;
}

img{
    width: 4rem;
    border-radius: 2em;
}

.left{
    display: flex;
    gap: 1em;
}

.green{
    background-color: green;
    width: 2em;
    height: 2em;
    border-radius: 1em;
}